/* Reset Css */
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
}
a {
    font-size: 16px;
    line-height: 28px;
    color: #252B42;
    text-decoration: none;
    transition: all .5s ease-in;
}
a:hover,a:focus {
    color: #FA4A0C;
}
h1 {
    font-size: 58px;
    line-height: 80px;
    font-weight: 700;
    margin-bottom: 50px;
}
h2 {
    font-size: 44px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}
h3 {
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
    margin-bottom: 30px;
}
.center {
    text-align: center;
}
/* Shortcodes */
.site-wrapper {
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.category-tag {
    display: block;
    font-size: 24px;
    font-weight: 500;
    color: #FA4A0C;
}
/* Header */
header ul {
    list-style-type: none;
}
header .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .col-left a {
    display: block;
    padding: 26px 0 26px;
}
header .col-left a img {
    max-width: 206px;
}
header .navigation {
    display: flex;
}
header .navigation li:not(:first-of-type) {
    margin-left: 50px;
}
/*hero */

.hero {
    background: url('../../images/banner.png');
    color: #fff;
    text-align: center;
    padding: 72px 0 100px;
}
.hero .button-list {
    margin-top: 40px;
    margin-bottom: 45px;
}
.hero .button-list a {
    color: #fff;
    background: #FA4A0C;
    border: 1px solid #FA4A0C;
    padding: 11px 45px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 25px;
    display: inline-block;
    margin: 0 8px;
}
.hero .button-list a:hover{
    background: transparent;
    border: 1px solid #fff;
}
.hero .category-tag {
    color: #F6F6F6;
}
.hero h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero p {
    color: #F6F6F6;
}

/* Promo-one */
.promo-one .content {
    transform: translateY(-270px);
}
.promo-one .content hr {
    max-width: 884px;
    margin: 0 auto 50px;
    border-top: 3px solid #BCBABA;
}